.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 33rem;
    max-width: 100%;
  }
  @media (max-width: 930px) {
    flex-direction: column-reverse;
    margin: 2rem auto;
    height: auto;
    padding: 0 1rem;
    text-align: center;
    img {
      margin-bottom: 1rem;
    }
  }
}
.hero {
  max-width: 600px;
  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
    span {
      color: var(--cyan-500);
    }
  }
  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }
  button {
    margin-top: 2.5rem;
  }
  @media (max-width: 930px) {
    max-width: 100%;
    > span {
      display: inline-block;
      font-size: 1.25rem;
      margin-top: 2rem;
    }
    h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-top: 1.5rem;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-top: 1rem;
    }
    button {
      margin: 2.5rem auto;
    }
  }
}
