.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--gray-850);
  border: none;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  svg {
    width: 20px;
    height: 20px;
  }
  svg.closeIcon {
    margin-left: 1rem;
  }  
  svg:first-child {
    margin-right: 0.5rem;
  }
  &:hover {
    filter: brightness(0.9);
  }

  @media (max-width: 560px) {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.85rem;
    svg {
      width: 16px;
      height: 16px;
    }
    svg.closeIcon {
      margin-left: 0.5rem;
    }
  }
  
}
